# Base values for HyperFleet API

image:
  registry: {{ env "REGISTRY" | default "quay.io" }}
  repository: {{ env "API_REPOSITORY" | default "redhat-services-prod/hyperfleet-tenant/hyperfleet/hyperfleet-api" }}
  tag: {{ env "API_IMAGE_TAG" | default "dev" }}
  pullPolicy: {{ env "IMAGE_PULL_POLICY" | default "IfNotPresent" }}

service:
  type: {{ .Values.serviceType }}

config:
  adapters:
    required:
      cluster:
        {{- range .Values.adapters }}
        {{- if eq .resourceType "clusters" }}
        - {{ .name }}
        {{- end }}
        {{- end }}
      nodepool:
        {{- range .Values.adapters }}
        {{- if eq .resourceType "nodepools" }}
        - {{ .name }}
        {{- end }}
        {{- end }}
  {{ if eq (env "JWT_AUTH_ENABLED" | default "false") "true" }}
  server:
    jwt:
      enabled: true
      configs:
        - issuer_url: {{ env "OIDC_ISSUER_URL" | default "https://kubernetes.default.svc.cluster.local" }}
          jwk_cert_url: {{ env "OIDC_JWKS_URL" | default "https://kubernetes.default.svc/openid/v1/jwks" }}
          {{- if env "OIDC_JWKS_CA_FILE" }}
          jwk_cert_ca_file: {{ env "OIDC_JWKS_CA_FILE" }}
          {{- end }}
          audience: hyperfleet-api
          identity_claim: sub
        - issuer_url: https://accounts.google.com
          jwk_cert_url: https://www.googleapis.com/oauth2/v3/certs
          identity_claim: email
  {{ end }}
